@import "src/style/variables.scss";

.card {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: fit-content;

}
.tags {
  display: flex;
  align-items: center;
  gap: 10px;
}