@import "variables";
//
//* {
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
//  //border: 1px pink solid;
//}
//html, body {
//  background-color: $color-bg-1;
//  height: 100%;
//}
//
//#__next {
//  display: flex;
//  @include xSmall {
//    flex-direction: column;
//  }
//}
//
//main {
//  width: 100%;
//  background-color: $color-bg-1;
//}
//
//p,
//a,
//br,
//span,
//img,
//div,
//ul,
//h1,
//h2,
//h3,
//h4,
//h5,
//h6,
//input,
//textarea {
//  color: $color-text-1;
//}
//
//button {
//  cursor: pointer;
//  outline: none;
//  border: none;
//  background: transparent;
//  color: inherit;
//  &:focus {
//
//  }
//  &:disabled {
//
//  }
//}

//----- Text Tags ------\\
a {
  text-decoration: none;
  color: inherit;
}
.title {
  @include Jost;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 123.81% */
}
h1 {
  @include Jost;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
}
h2 {
  @include Jost;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 123.077% */
}
h3 {
  @include Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 110% */
}
h4 {
  @include Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 18px; /* 112.5% */
}
.t1 {
  @include Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
}
.t2 {
  @include OpenSans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
}
.t3 {
  @include OpenSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
.caption {
  @include OpenSans;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 12px; /* 120% */
}